/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body
{
  background: #fff;
  height: 100vh;
  font-family: josefin sans, segoe ui, Arial, sans-serif;
}

*/

ul
{
  list-style: none;
}

.vertical-bar
{
  position: relative;
  transform: translateY(5%);
} 

.vertical-bar ul
{
  /* padding-left: 50px; */
  position: relative; /* Penting */  
}

/* End Ga Penting */

.vertical-bar ul::after
{
  content: '';
  position: absolute;
  width: 3px;
  height: calc(100% - 58px);
  left: 40px;
  top: 0;
  background: #f3bf5e;
  z-index: -1;
  margin-top: 29px;
}

.vertical-bar ul li
{
  padding: 35px 0;
  padding-left: 20px;
}

.vertical-bar ul li a
{
  text-decoration: none;
  position: relative;
  color: #3742da;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 500;
}

.vertical-bar ul li a::before
{
  content: '';
  position: absolute;
  background: #fff;
  width: 18px;
  height: 18px;
  left: -27.5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  border: 4px solid #f3bf5e;
}